@model Assignment3.Models.ActorDetailsVM

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Actor</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.actor.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.actor.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.actor.Age)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.actor.Age)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.actor.Gender)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.actor.Gender)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.actor.Hyperlink)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.actor.Hyperlink)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.actor.ActorImage)
        </dt>
        <dd class="col-sm-10">
            @if (Model.actor.ActorImage != null && Model.actor.ActorImage.Length != 0)
            {
                <img height="150" src="@Url.Action("GetActorPhoto", "Actors", new {Model.actor.Id})" />
            }
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.actor.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>

<br />
<h1>
    Movies with @Html.DisplayFor(model => model.actor.Name)
</h1>
<table id="indexTable" class="table">
    <thead>
        <tr>
            <th>
                Title
            </th>
            <th>
                Description
            </th>
            <th>
                Director
            </th>
            <th>
                Genre
            </th>
            <th>
                Release Year
            </th>
            <th>
                Hyperlink
            </th>
            <th>
                Movie Image
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.movies)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Director)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Genre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReleaseDate)
                </td>
                <td>
                    <a href="@Html.DisplayFor(modelItem => item.Hyperlink)">IMDb</a>
                </td>
                <td>
                    @if (item.MovieImage != null && item.MovieImage.Length != 0)
                    {
                        <img height="150" src="@Url.Action("GetMoviePhoto", "Movies", new {item.Id})" />
                    }
                </td>
                <td>
                    
                <button class="btn btn-light" asp-action="Edit" asp-controller="Movies" asp-route-id="@item.Id">Edit</button>
                <button class="btn btn-light" asp-action="Details" asp-controller="Movies" asp-route-id="@item.Id">Details</button>
                    @* <a asp-action="Edit" asp-controller="Movies" asp-route-id="@item.Id">Edit</a> | *@
                    @* <a asp-action="Details" asp-controller="Movies" asp-route-id="@item.Id">Details</a> | *@
                </td>
            </tr>
        }
    </tbody>
</table>