@model IEnumerable<Assignment3.Models.ActorMovie>

@{
    ViewData["Title"] = "Index";
}

<h1>Actors in Movies</h1>

<p>
    <button class="btn btn-light"><a class="black-text" asp-action="Create">Create New</a></button>
</p>
<table id="indexTable" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Actor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movie)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Actor.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Movie.Title)
            </td>
            <td>
                <button class="btn btn-light"><a class="black-text" asp-action="Edit" asp-route-id="@item.Id">Edit</a></button>
                <button class="btn btn-light"><a class="black-text" asp-action="Details" asp-route-id="@item.Id">Details</a></button>
                <button class="btn btn-light"><a class="black-text" asp-action="Delete" asp-route-id="@item.Id">Delete</a></button>
            </td>
        </tr>
}
    </tbody>
</table>
@section Scripts {
    <link rel="stylesheet" href="https://cdn.datatables.net/2.0.1/css/dataTables.dataTables.min.css" integrity="sha384-zUxWDVAcow8yNu+q4VFsyZA3qWsKKGdWPW0SVjaR12LQze4SY8Nr75US6VDhbWkf" crossorigin="anonymous">
    <script src="https://cdn.datatables.net/2.0.1/js/dataTables.min.js" integrity="sha384-O1CwIpQyArpIVIf/MmRsfivHkHhSlKgnk+wOxIMeEqObjH8MoV/Ox0ue6FlCwucf" crossorigin="anonymous"></script>
    <script>let table = new DataTable('#indexTable');</script>
}